body {
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 120%;
	font-weight: 500;
	color: #fff;
	background: #fff;
}

@media (max-width: 1170px) {
	body {
		font-size: 14px;
	}
}

body.lock {
	overflow: hidden;
}

html.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 15px;
}

.title-h1,
h1 {
	font-size: 54px;
	line-height: 120%;
	font-style: italic;
}

.title-h2,
h2 {
	font-size: 42px;
	line-height: 120%;
	font-style: italic;

	& span {
		position: relative;
		display: flex;
		align-items: center;
		// padding: 0 40px;
		&::before,
		&::after {
			content: "";
			// position: absolute;
			// top: 40%;
			// transform: translate(0, -50%);
			width: 40px;
			height: 3px;
			background: #006699;
		}

		&::before {
			margin-right: 10px;
			// left: -10px;
		}

		&::after {
			margin-left: 10px;
			// right: -10px;
		}
	}
}

@media (max-width: 1170px) {
	.title-h1,
	h1 {
		font-size: 32px;
	}

	.title-h2,
	h2 {
		font-size: 26px;
	}
}

.main-btn {
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px;
	font-size: 16px;
	text-align: center;
	border-radius: 20px;
	background-color: #fff;
	color: #333;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease 0s;
	&:hover {
		color: #fff;
		background: #006699;
		transform: translateY(-7px);
	}
}

.text-block {
	& p {
		font-size: 16px;
		line-height: 120%;
		margin-bottom: 20px;
	}
}

@media (max-width: 1170px) {
	
.text-block {
	& p {
		font-size: 14px;
	}
}
}

.wrap-input {
	& input {
		width: 100%;
		padding: 10px 15px 10px 0;
		font-size: 16px;
		line-height: 120%;
		border-bottom: 1px solid #cccccc;
	}
}

.wrap-check {
	display: flex;
	align-items: center;
	&__input {
		display: none;
		&:checked + .wrap-check__checkmark::before {
			opacity: 1;
		}
	}

	&__checkmark {
		position: relative;
		margin-right: 15px;
		width: 20px;
		height: 20px;
		border: 2px solid #006699;
		transform: translate(0, -2px);
		&::before {
			opacity: 0;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -65%) rotate(45deg);
			width: 5px;
			height: 9px;
			border: solid #006699;
			border-width: 0 2px 2px 0;
			transition: all 0.3s ease;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 120%;
		color: #000;
		& a {
			color: #006699;
			border-bottom: 1px solid #006699;
			transition: all 0.3s ease;
			&:hover {
				border-color: transparent;
			}
		}
	}
}

@media (max-width: 1170px) {
	.wrap-input {
		& input {
			font-size: 14px;
		}
	}

	.wrap-check {
		&__text {
			font-size: 14px;
		}
	}
}

.main {
	padding-top: 79px;
}

@media (max-width: 768px) {
	.main {
		padding-top: 70px;
	}
}

@media (max-width: 500px) {
	.main {
		padding-top: 55px;
	}
}

.popup-general {
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;

	background: rgba(0, 0, 0, 0.5);

	&__scroll {
		width: 100%;
		max-width: 1330px;
		overflow: auto;
		max-height: 100vh;
	}

	&__popup-wrap {
		display: flex;
		width: 100%;
		padding: 30px 15px;
	}

	&__body {
		position: relative;
		margin: 0 auto;
		width: 100%;
		padding: 30px;
		max-width: 620px;
		border-radius: 15px;
		background-color: #ffffff;
		box-shadow: 0px 4px 34px 0px rgba(51, 51, 51, 0.1);
	}

	&__group-title {
		margin-bottom: 30px;
	}

	&__title {
		margin-bottom: 30px;
		padding-right: 30px;
	}

	&__subtitle {
		font-size: 20px;
		line-height: 140%;
		color: #999999;
	}

	&__close {
		cursor: pointer;
		position: absolute;
		width: 27px;
		height: 27px;
		top: 20px;
		right: 20px;
		transition: all 0.3s ease;
		z-index: 3;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			top: 13px;
			background-color: #000;
			transform: rotate(45deg);
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			top: 13px;
			background-color: #000;
			transform: rotate(-45deg);
		}
		&:hover {
			transform: rotate(90deg);
		}
	}

	&__form {
	}

	&.modal {
		display: none;
	}

	&.active {
		&.modal {
			display: flex;
		}
	}
}

.from-popup-order {

	&__title {
		color: #333;
		margin-bottom: 20px;
	}

	&__subtitle {
		color: #333;
		font-size: 18px;
		line-height: 120%;
		margin-bottom: 20px;
	}

	&__list {
		margin-bottom: 30px;
	}

	&__wrap-input {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__check {
		margin-bottom: 20px;
	}

	&__btn {
		max-width: 250px;
		width: 100%;
	}
}


@media (max-width: 1170px) {
	.popup-general {
		&__body {
			padding: 20px;
		}

		&__close {
			top: 20px;
			right: 20px;
		}
	}

	.from-popup-order {
		&__subtitle {
			font-size: 16px;
		}
	}
}

@media (max-width: 768px) {
	.popup-general {
		&__scroll {
			height: 100%;
			width: 100%;
			overflow: initial;
			max-height: initial;
		}

		&__popup-wrap {
			padding: 0;
			max-width: 100% !important;
			height: 100%;
		}

		&__body {
			height: 100%;
			padding: 0;
			max-width: 100%;
			border-radius: 0;
		}

		&__close {
			right: 15px;
			top: 20px;
			width: 13px;
			height: 13px;
			&::before {
				width: 13px;
				top: 6px;
			}
			&::after {
				width: 13px;
				top: 6px;
			}
		}

		&__wrap {
			padding: 15px;
			overflow-y: auto;
			max-height: 100vh;
			height: 100%;
		}
	}

	.from-popup-order {
		&__title {
			padding-right: 30px;
		}
	}
}

@media (max-width: 500px) {
	.from-popup-order {
		&__subtitle {
			font-size: 14px;
		}
	}
}