<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/style.css" />
		<title>Document</title>
	</head>

	<body>
		<div class="wrapper">
			<!-- HEADER -->

			<header class="header">
				<div class="container">
					<div class="header__wrap">
						<div class="header__logo">
							<img src="./img/logo-test.png" alt="" />
						</div>

						<div class="header__group">
							@@include("_main-menu.html")

							<div class="header__phone">
								<a href="tel:+7800553535">+7 800-55-35-35</a>
							</div>
						</div>
					</div>
				</div>
			</header>

			<!-- // HEADER -->
