<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/mmenu.css" />
		<link rel="stylesheet" href="./css/style.css" />
		<title>Document</title>
	</head>

	<body>

		<nav id="menu" class="mm-menu_offcanvas">
			<ul>
		
			</ul>
		</nav>


		<div class="wrapper">
			<!-- HEADER -->

			<header class="header">
				<div class="container">
					<div class="header__wrap">
						<div class="header__logo">
							<img src="./img/logo-test.png" alt="" />
						</div>

						<div class="header__group">
							@@include("_main-menu.html")

							<div class="header__phone">
								<a href="tel:+7800553535"><span>+7 800-55-35-35</span></a>
							</div>

							<svg class="header__burger ham hamRotate ham8 js-ham" viewBox="0 0 100 100" height="50" width="50">
								<path class="line top"
								  d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
								<path class="line middle" d="m 30,50 h 40" />
								<path class="line bottom"
								  d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
							  </svg>
						</div>
					</div>
				</div>
			</header>

			<!-- // HEADER -->
