<nav class="header__menu main-nav">
	<ul class="main-nav__list js-mobile-menu">
		<li class="main-nav__item hover-item">
			<a href="#info-school" class="main-nav__link js-anchor">О школе</a>
		</li>

		<li class="main-nav__item hover-item">
			<a href="#coach" class="main-nav__link js-anchor">Тренеры</a>
		</li>

		<li class="main-nav__item hover-item">
			<a href="#training" class="main-nav__link js-anchor">Процесс обучения</a>
		</li>

		<li class="main-nav__item hover-item">
			<a href="#order" class="main-nav__link js-anchor">Контакты</a>
		</li>
	</ul>
</nav>
