.footer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%);

    &__wrap {
        padding: 30px 0;
    }

    &__row {
        display: flex;
    }

    &__column {
        &:nth-child(1) {
            margin-right: 100px;
        }
        &:nth-child(2) {
            margin-right: 100px;
            flex-grow: 1;
        }
    }

    &__logo {
        & img {
			max-width: 200px;
		}
    }

    &__adress {
        max-width: 500px;
        margin-bottom: 10px;
    }

    &__policy {
        & a {
            color: #fff;
            border-bottom: 1px solid #fff;
            transition: all 0.3s ease;
            &:hover {
                border-color: transparent;
            }
        }
    }

    &__phone {
        margin-bottom: 15px;
		& a {
			position: relative;
			display: inline-block;
			padding-left: 35px;
            white-space: nowrap;
			font-size: 20px;
			color: #fff;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				width: 24px;
				height: 24px;
				background: url("../img/phone-call.png") no-repeat center / contain;
			}
            & span {
				border-bottom: 1px solid transparent;
				transition: all 0.3s ease;
				&:hover {
					border-color: #fff;
				}
			}
		}
    }

    &__sign {
        margin-bottom: 15px;
    }

    &__social {
    }

    &__list-social {
        display: flex;
    }

    &__item-social {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        & a {
            display: block;
            transition: all 0.3s ease;
            &:hover {
                transform: translate(0, -5px);
            }
        }
    }
}

@media (max-width: 1170px) {
    .footer {
        &__logo {
            & img {
                max-width: 150px;
            }
        }

        &__column {
            &:nth-child(1) {
                margin-right: 50px;
            }
            &:nth-child(2) {
                margin-right: 50px;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__row {
            flex-wrap: wrap;
        }

        &__column {
            &:nth-child(1) {
                margin-right: 0px;
                width: 100%;
                text-align: center;
                margin-bottom: 40px;
            }
            &:nth-child(2) {
                margin-right: 20px;
                width: calc(60% - 20px);
            }

            &:nth-child(3) {
                margin-right: 0px;
                width: 40%;
            }
        }
    }
}

@media (max-width: 500px) {
    .footer {
        &__column {
            &:nth-child(2) {
                margin-right: 0px;
                margin-bottom: 40px;
                width: 100%;
                text-align: center;
            }

            &:nth-child(3) {
                width: 100%;
                text-align: center;
            }
        }

        &__list-social {
            justify-content: center;
        }
    }
}